@page "/OrderNew"
@inherits OrderNewBase
    
<h3>OrderNew</h3>

<div class="main">
    <ul class="stock-cards">
        @if (StockItems != null)
        {
            @foreach (var item in StockItems)
            {
                <li>
                    <div class="stock-info">
                        <span class="title">@item.Name</span>
                        Some description text can go here
                        <span class="quantity">@item.Quantity</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>