@page "/OrderWithBasket"

<h3>OrderWithBasket</h3>

<div class="page-layout">

    <div class="main">

        Main window
    </div>

    <div class="sidebar">
        Side bar
    </div>



</div>

@code {

}
