@page "/stockdisplay"
@inherits StockDisplayBase
@using PetStore.Blazor.WASM.Client.Components;

<h3>StockDisplay</h3>

@if (StockItems == null)
{
    <WaitLoading />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in StockItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a href="@($"StockItemEdit/{item.Id}")">
                            Edit
                        </a>
                        <button class="btn btn-outline-primary" @onclick="@(() => DeleteItem(item))">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
