@inherits OrderNewDialogBase

@*<div class="dialog-container">
    <div class="dialog">*@
        <div class="dialog-container">
            <div class="dialog">
                <div class="dialog-title">
                    <h2>@OrderItem.Name</h2>
                </div>
                <form class="dialog-body">
                    <div>
                        <h3>OrderNewDialog</h3>
                    </div>
                </form>
            </div>
        </div>
    @*</div>
</div>*@
