@inherits OrderItemsNewTableBase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in OrderItems)
        {
            <OrderItemsNewTableRow @key="item" OrderItem="item" />
        }
    </tbody>
</table>
