@inherits StockDeliveryNewTableBase
<h3>StockDeliveryNewTable</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in StockDeliveryList)
        {
            <StockDeliveryTableRow @key="item" StockDelivery="item" />
        }
    </tbody>
</table>
