@inherits StockDeliveryTableRowBase

<tr>
    <td>@StockDelivery.Name</td>
    <td>@StockDelivery.Quantity</td>
    <td>
        <button class="btn btn-primary" @onclick="@(e => Delete_Click(e, @StockDelivery.Name))">
            <i class="far fa-times-circle"></i>
        </button>
    </td>
</tr>